pandas==1.5.3
# Add other dependencies as needed

google-api-core==2.24.0
matplotlib==3.5.2
pymongo==4.10.1
python-dateutil==2.8.2
scikit-learn==1.6.1
seaborn==0.13.2
python-decouple==3.8
numpy==2.2.1
fastapi==0.115.6
uvicorn==0.34.0
-e .